.movies-list {
  margin: 70px auto 0 auto;
}

.movies-list__container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 27px;
  padding: 0 70px 0 70px;
 
}

.movies__text {
  color: gray;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.movies-list__button {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  cursor: pointer;
}

.movies-list__button-none {
   display: none;
}

.movies-list__button:hover {
  background-color: white;
  border: 1px solid #e8e8e8;
}

@media screen and (max-width: 1250px) {
  .movies-list__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    padding: 0 30px 0 30px;
  }
} 

 @media screen and (max-width: 1110px) {
  .movies-list__container {
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .movies-list {
    margin: 81px auto 0 auto;
  }

  .movies-list__button {
    margin-top: 49px;
  }
}

@media screen and (max-width: 935px) {
  .movies-list__container {
    grid-template-columns: repeat(2, 1fr);
 padding-top: 0px;
  }
}

@media screen and (max-width: 750px) {
  .movies-list__container {
    grid-template-columns: repeat(1, 1fr);
   max-width: 320px;
   padding: 2px 0 0 0;
    grid-row-gap: 22px;
    grid-column-gap: 0px;
    margin: 0 auto 0 auto;
  }

  .movies-list__button {
    margin-top: 50px;
    width: 240px;
    height: 36px;
  }

  .movies-list {
    margin-top: 79px;
    padding: 0 10px 0 10px;
    max-width: 320px;
  }
}
