.login {
  display: flex;
}

.title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 500;
  margin: 37px auto 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
}

.form__input_err {
  color: red;
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  
  height: 1px;
}


.form__error-message {
  text-align: center;
 margin-top: 100px;
  color: red;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  height: 1px;
  max-width: 400px;
}

.form__name:last-of-type {
  margin-top: 24px;
}

.logo {
  width: 38px;
  height: 38px;
}

.login__container {
  max-width: 1280px;
  margin: 69px auto 0 auto;
}

.form__name {
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 0;
}

.form__input:invalid {
  color: red;
}

.form__input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  width: 396px;
  padding-bottom: 11px;
  height: 20px;
  padding-top: 2px;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}

.form__button {
  cursor: pointer;
  display: block;
  width: 398px;
  height: 45px;
  background-color: #3456f3;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 117px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  display: flex;

  margin-left: 56px;
  margin-top: 16px;
}

.subtitle__text {
  color: #a0a0a0;
  margin: 0;
}

.subtitle__link {
  text-decoration: none;
  color: #3456f3;
  margin-left: 7px;
}

.subtitle__link:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.form__button:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.form__button_disabled {
  background-color: gray;
}

.form__button_disabled:hover {
   opacity: none;
}

@media screen and (max-width: 768px) {
  .login__container {
    max-width: 768px;
    margin: 231px auto 0 auto;
  }

  .form__input {
    padding-bottom: 9px;
    padding-top: 3px;
  }

  .form__button {
    margin-top: 221px;
  }
}

@media screen and (max-width: 480px) {
  .login {
    max-width: 480px;
    display: block;
    padding: 0 30px 30px 30px;
  }

  .login__container {
    margin: 57px auto 0 auto;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }

  .subtitle {
    max-width: 245px;
    font-size: 12px;
    line-height: 14.52px;

    margin: 14px auto 0 auto;
  }

  .title {
    text-align: center;
    margin-top: 50px;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .form__button {
    width: 260px;
    margin-top: 308px;
  }

  .form__input {
    width: 260px;
  }
}

@media screen and (max-width: 400px) {
  .login {
    max-width: 320px;
  }

  .form__button {
    font-size: 12px;
    line-height: 14.52px;
  }

  .form {
    margin-top: 80px;
  }

  .subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .subtitle {
    margin-left: 8px;
  }
}
